<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestellungsübersicht</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script type="text/javascript" src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/dfbdf2ff96.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="a">
<h1>Bestellungsübersicht</h1>
</div>
<div class="a">
    <table id="navtable" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td class="navigation">
                Vorname:
            </td>
            <td id="vorname"></td>
        </tr>
        <tr>
            <td class="navigation">
                Nachname:
            </td>
            <td id="nachname"></td>
        </tr>
        <tr>
            <td class="navigation">
                Lenkertyp:
            </td>
            <td id="lenkertyp"></td>
        </tr>
        <tr>
            <td class="navigation">
                Material:
            </td>
            <td id="material"></td>
        </tr>
        <tr>
            <td class="navigation">
                Schaltung:
            </td>
            <td id="schaltung"></td>
        </tr>
        <tr>
            <td class="navigation">
                Griff:
            </td>
            <td id="griff"></td>
        </tr>
    </table>
    <button id="checkOrder" class="customTextButton" onclick="checkOrderButton()">Bestellung absenden</button>
</div>

<style>body{
background-color: #bfffbf;
}
</style>
<script>
    $(document).ready(loadDataOrder());
</script>

</body>
</html>